*{
    margin: 0;
    padding: 0;
}
.navagation{
    margin-top: 25px;
    font-family: var(--font1);
    /* height: 74px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    
    display: flex;
}
.nav-left span{
    font-size: 35px;
}
.nav-left ul {
   display: flex;
   align-items: center;
   margin: 0 77px;
   font-size: 22px;

}
.nav-left ul li{
   list-style: none;
   margin: 0 14px;
   font-family: var(--font2);
   

}
.nav-left ul li a{
    text-decoration: none;
    color: black;
    /* padding: 7px 8px; */
    /* transition: all 0.3s ease-in-out; */
    
    
    
}
.nav-left ul li a:hover{
    color: var(--main-bg-color);
   font-weight: bolder;
  

}

.content{
    height:100%;
    /* background-color: rgb(165, 204, 202); */
    display: flex;
    margin-top: 32px;
    padding: 9px;
    
    position: relative;
}
.content::after{
    content: "";
    background-image: url(../img/img1.jpg);
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;

}
.content-left{
font-family: var(--font2);
/* width: 50%; */
display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    z-index: 1;
}
.content-right{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.content-right img{
        height: 355px;
        border: 2px solid black;
        border-radius: 200px;
}

.home-articles{
    /* height: 455px; */
    background-color: rgba(226, 215, 215, 0.5);
    padding-left: 18px;
    margin-top: 23px;
    position: relative;
}
.year-box{
    position: absolute;
    width: 234px;
    height: 255px;
    /* background-color: blue; */
    right: 0px;
    top: 22px
}
.year-box div{
    margin: 12px 0px;
}
.home-article{
    display: flex;
    margin: 25px;

}
.home-article img{
    width: 300px;
}
.home-article-content{
    align-self: center;
    padding: 25px;
}
.home-article-content a{
    text-decoration: none;
    color: black;
}
.footer{
    height: 55px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.footer a{
    color: white;
    text-decoration: none;
}

