
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
}
:root{
    --main-bg-color: brown;
    --font1: 'Roboto', sans-serif;
    --font2: 'Noto Sans', sans-serif;
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.my-2{
    margin-top: 12px;
    margin-bottom: 12px;
}
.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.btn{
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font1);
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: var(--main-bg-color);
    color: white;
}
.form-input{
    padding: 3px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 6px;
    outline: none;
    font-family: var(--font1);
}

.form-box input , textarea{
width: 44vw;
padding: 10px 7px;
margin: 7px 0px;
border-radius: 10px;
outline: none;
/* border: brown!important; */
}